<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="oldie ie6" lang="en"><![endif]-->
<!--[if IE 7 ]><html class="oldie ie7" lang="en"><![endif]-->
<!--[if IE 8 ]><html class="oldie ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="ie9" lang="en"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
    <head>

        <title>{{ pageTitle }}</title>

        <meta charset="UTF-8" />
        <meta http-equiv="cleartype" content="on" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

        <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

        <link rel="stylesheet" href="{{ app.request.baseUrl }}/css/reset.css" />
        <link rel="stylesheet" href="{{ app.request.baseUrl }}/css/style.css" />

    </head>
    <body>

        <section id="siteWrapper">
            <header>
                <a href="{{ path('home') }}"><h1>Praxis</h1></a>
                <section id="login">

                    {%if logininfo %}
                    <p>
                        Welcome {{logininfo.login}} <br />
                        <a href="{{path('auth.logout')}}">logout</a>
                    </p>
                    {%else%}
                    <p>
                        Welcom guest <br />
                                                <a href="{{path('auth.login')}}">Login</a>

                    </p>
                    {%endif%}
                </section>


                <nav>
                    <ul>
                        <li><a href="{{ app.request.baseUrl }}">Home</a></li>
                        <li><a href="{{ app.request.baseUrl }}/internships">Stages</a></li>
                        <li><a href="{{ app.request.baseUrl }}/companies">Companies</a></li>                        
                    </ul>
                </nav>

            </header>

            <!-- content -->
            <section>
                {% block pageContent %}
                    Placeholder for content 
                {% endblock %}

                </section>

                <footer>
                    <ul id="footerLeft">
                        <li><a href="#">Login</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>

                    <ul id="footerRight">
                        <li><a href="#">All rights reserved</a></li>
                        <li><a href="#">&COPY; 2013</a></li>
                    </ul>
                </footer>
            </section>

        </body>
    </html>