{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Login' %}


{# overwrite the pageContent block #}
{% block pageContent %}
	<p class="breadcrumb"><a href="#">login</p>
	
	<form action="{{ path('admin.login') }}" method="post" {{ form_enctype(loginform) }} novalidate="novalidate">{# disable HTML5 formchecking #}
		<dl class="clearfix">
			<dt>
				{{ form_label(loginform.Login) }}
			</dt>
			<dd>
				{{ form_widget(loginform.Login) }}
				{{ form_errors(loginform.Login) }}
			</dd>
			<dt>
				{{ form_label(loginform.Password) }}
			</dt>
			<dd>
				{{ form_widget(loginform.Password) }}
				{{ form_errors(loginform.Password) }}
			</dd>
			<dd>
				{{ form_widget(loginform._token) }}
				<input type="submit" name="submit" value="Log in" />
			</dd>
		</dl>
	</form>
{% endblock %}