{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'My Blog &raquo; Blogposts &raquo; Detail' %}

{% block pageContent %}
	<p class="breadcrumb"><a href="{{path('home')}}/">Praxis</a> &raquo; <a href="{{ path('Company') }}">Companies</a> &raquo; {{ companie.Name }}</p>
        
        <section class="stage">
                <article>
                    <h1>{{companie.Name}}</h1>

                    <h2>Facilities</h2>
                        <br/>

                        {% if facilities %}
                            {%for facility in facilities%}
                    <article id="soortenStages">
                        <p>Name: {{facility.Name}}</p>
                        <p>Street: {{facility.Street}}</p>
                        <br/>
                        <h3>Stages</h3>
                            {%for stage in facility.stages%}
                        <h4>Description</h4>
                        <p> {{stage.Description}}</p>
                            {%endfor%}
                        
                        <br/>

                        
                    </article>
                        {%endfor%}
                        {%else%}
                    <p>No facilities found</p>
                        {%endif%}
                </article>
	</section>
	
{% endblock %}