{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'My Blog &raquo; Blogposts &raquo; Detail' %}

{% block pageContent %}
	<p class="breadcrumb"><a href="{{ app.request.baseUrl }}/">Praxis</a> &raquo; <a href="{{ app.request.baseUrl }}/companies">Companies</a> &raquo; {{ bedrijf.Name }}</p>

	<section class="bedrijf">
                <article>
                        <h2>{{ bedrijf.Name }} </h2>
                        <p>{{ bedrijf.Description }}</p>
                </article>
	</section>
        
        <h2><a href="{{ app.request.baseUrl }}/companies/{{bedrijf.idBedrijven}}/stages/">Stages</a></h2>
        
       <section class="stages">
           
		{% if stages %}
                    {% for stage in stages %}
			<article>
                            <h1> <a href="{{ app.request.baseUrl }}/stages/{{ stage.idStages }}" title="{{ stage.Title }}">{{ stage.Title }}</a> </h1>	
			</article>
                    {% endfor %}
		{% else %}
                    <p>No stages to show!</p>
		{% endif %}
	</section>
	<p><a href="{{ app.request.baseUrl }}/companies">&larr; Back to company overview</a></p>
{% endblock %}