{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Company overview' %}

{% block pageContent %}
	<p class="breadcrumb"><a href="{{ app.request.baseUrl }}/">Praxis</a> &raquo; Companies</p>
        
        <h2 class="title">Companies</h2>

	<section class="companies">
		{% if companies %}
			{% for company in companies %}
			<article id="articleCompany">
                            <h1> <a href="{{ app.request.baseUrl }}/companies/{{ company.idCompany }}" title="{{ company.Name }}">{{ company.Name }}</a> </h1>
			</article>
			{% endfor %}
		{% else %}
		<p>No companies to show!</p>
                
		{% endif %}
	</section>
{% endblock %}
        
        