{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'My Blog &raquo; Blogposts &raquo; Detail' %}

{% block pageContent %}
	<p class="breadcrumb"><a href="{{ app.request.baseUrl }}/">Praxis</a> &raquo; <a href="{{ app.request.baseUrl }}/companies">Companies</a> &raquo; <a href="{{app.request.baseUrl}}/companies/{{companies.idBedrijven}}"> {{companies.Name }} </a> &raquo; <a href="{{ app.request.baseUrl }}/companies/{{companies.idBedrijven}}/stages/">Stages</a> &raquo; Add stage</p>

	<section class="stage">
                <article>
                        <h1>Add stage</h1>
                       
                </article>
	</section>
	<p><a href="{{ app.request.baseUrl }}/companies/{{companies.idBedrijven}}/stages">&larr; Back to stages overview</a></p>
{% endblock %}