{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'Detail stage' %}

{% block pageContent %}
        <h2 class="title">Stage overview</h2>

	<p class="breadcrumb"><a href="{{ app.request.baseUrl }}/">Praxis</a> &raquo; <a href="{{ app.request.baseUrl }}/companies">Companies</a> &raquo; {{ internship.Title }}</p>
        
	<section class="stage">
                <article>
                        <h1>{{ internship.Title }}</h1>
                        
                        <h2>Description</h2>
                        <p>{{ internship.Description }}</p>
                        
                        <h2>Required knowledge</h2>
                        <p>{{ internship.Required_Knowledge }}</p>
                        
                        <h2>time period</h2>
                        <p>{{ internship.Start }} untill {{ internship.End }}</p>
                </article>
	</section>
	<p id="return"><a href="{{ app.request.baseUrl }}/internships">&larr; Back to stages overview</a></p>
{% endblock %}