{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'My Blog &raquo; Blogposts' %}

{% block pageContent %}
	<p class="breadcrumb"><a href="{{ app.request.baseUrl }}/">Praxis</a> &raquo; All Stages</p>

	<section class="stages">
		{% if internships %}
			{% for internship in internships %}
			<article>
                            <h3> <a href="{{ app.request.baseUrl }}/stages/{{ internship.idStages }}" title="{{ stage.Title }}">{{ stage.Title }}</a> </h3>
                            <span>sectors</span>
				
			</article>
			{% endfor %}
		{% else %}
		<p>No stages to show!</p>
		{% endif %}
	</section>
{% endblock %}