{# extend the parent tpl #}
{% extends 'layout.twig' %}


{# set the pagetitle in the parent tpl #}
{% set pageTitle = 'My Blog &raquo; Blogposts' %}

{% block pageContent %}
	<p class="breadcrumb"><a href="{{ app.request.baseUrl }}/">Praxis</a> &raquo; <a href="{{ app.request.baseUrl }}/companies">Companies</a> &raquo; <a href="{{app.request.baseUrl}}/companies/{{companies.idBedrijven}}"> {{companies.Name }} </a> &raquo; Stages </p>

        <h2>Stages off {{companies.Name}}</h2>
	<section class="stages">
		{% if stages %}
			{% for stage in stages %}
			<article>
                            <h1> <a href="{{ app.request.baseUrl }}/stages/{{ stage.idStages }}" title="{{ stage.Title }}">{{ stage.Title }}</a> </h1>

				
			</article>
			{% endfor %}
		{% else %}
		<p>No stages to show!</p>
		{% endif %}
	</section>
        <p><a href="{{ app.request.baseUrl }}/companies/{{companies.idBedrijven}}/stages/addStage">Voeg stage toe</a></p>
        <p><a href="{{ app.request.baseUrl }}/companies/{{companies.idBedrijven}}">&larr; Back to {{companies.Name}}</a></p>
{% endblock %}